@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    /* Brand Colors */
    --color-primary: #FFB347;
    --color-secondary: #FF7E6B;
    --color-accent: #FFD56B;
    --color-background: #FFF8F0;
    --color-text: #2D2A26;
    --color-hero-title: #122D64;
    --color-hero-subtitle: #893406;
    --color-orange:#f07200;

    --color-facebook: #2c68ff;
    --color-instagram: #f500c5;

    --color-buttons: var(--color-primary);

  }

  body {
    background-color: theme('colors.background');
    color: theme('colors.text');
    font-family: 'Nunito', sans-serif;
  }

  button {
    font-family: 'Fredoka One', cursive;
  }

.whitespace-pre-line p + p {
  margin-top: 2rem; /* or whatever spacing you like */
}


}